.home {
    background-image: url(../../assets/images/home.jpg);
    height: 25em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgb(0,0,0,0.7);
    background-blend-mode: overlay;
}

p{
    font-size: 25px;
}

@media only screen and (max-width: 480px){
    p{
        font-size: 1.1em;
    }
    .home {
        background-image: url(../../assets/images/home.jpg);
        height: 25rem;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* margin-top: 0px; */
        background-color: rgb(0,0,0,0.7);
        background-blend-mode: overlay;
    }
}